*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.page__title {
    font-family: $raleway;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.045em;
    color: $darkGray;
    text-align: center;
    margin-top: 32px;
}