//Colors
$white: #ffffff;
$black: #000000;
$darkGray: #333333;
$lightGray: #BDBDBD;
$mediumGray: #828282;
$primary: #2F80ED;
$danger: #EB5757;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;